@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-primary;
  }
}


@layer components {
  .btn {
    @apply inline-block px-4 py-2 text-white bg-blue-500 rounded;
  }
  .btn:hover {
    @apply bg-yellow-400;
  }
  .new {
    @apply text-4xl;
  }
}

#menu-toggle:checked ~ #mobile-menu {
  display: block;
}

#menu-toggle:checked ~ label #menu-open {
  display: none;
}

#menu-toggle:checked ~ label #menu-close {
  display: block;
}
